.vue3-tiptap-editor {
    .vue3-tiptap-editor__navigation {
        display: flex;
        flex-direction: column;
        width: 0px;
        flex: 0 0 0px;
        transition: all 0.3s ease-out;
        overflow: hidden;
        white-space: nowrap;
        /* height: 100%; */
        &.is-active {
            width: 318px;
            flex: 0 0 318px;
            padding: 0 10px;
            border-left: 1px solid #f2f2f2;
        }
        .navigation-header {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            .close-nav:hover {
                background-color: #dddcdc;
            }
            .close-nav {
                cursor: pointer;
            }
        }
        .navigation-directory {
            flex: 1;
            min-height: 0;
            overflow-y: auto;
            .directory-container {
                list-style-type: none;
                // padding-left: 10px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 2px;
                    background-color: #e5e8ed;
                }
                .directory-item__empty {
                    color: #999;
                    cursor: default;
                    &:hover {
                        text-decoration: none;
                        color: #999 !important;
                    }
                }

                .directory-item__cell {
                    color: #333;
                    padding: 0;
                    margin: 0;
                    min-height: 20px;
                    line-height: 20px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                        color: #2b4bf3 !important;
                    }
                }

                .directory-item__cell[type="header1"] {
                    font-weight: bold;
                    font-size: 14px;
                }
                .directory-item__cell[type="header2"] {
                    padding-left: 2px;
                    color: #666;
                    font-size: 13px;
                    font-weight: bold;
                }
                .directory-item__cell[type="header3"],
                .directory-item__cell[type="header4"],
                .directory-item__cell[type="header5"],
                .directory-item__cell[type="header6"] {
                    color: #999;
                    font-size: 12px;
                    padding-left: 15px;
                }

                .active {
                    color: #2b4bf3 !important;
                    position: relative;
                    &:after {
                        position: absolute;
                        top: 0;
                        left: -16px;
                        content: "";
                        width: 2px;
                        height: 100%;
                        z-index: 2;
                        background: #2b4bf3;
                    }
                }
            }
        }
    }
}
