.vue3-tiptap-editor {
    .tiptap-image-view {
        margin: 12px 0;
        display: inline-block;
        float: none;
        user-select: none;
        vertical-align: baseline;
        // position: relative;
        &--inline {
            margin-left: 12px;
            margin-right: 12px;
        }
        &--block {
            display: block;
        }
        &--left {
            float: left;
            margin-left: 0;
            margin-right: 12px;
        }
        &--right {
            float: right;
            margin-left: 12px;
            margin-right: 0;
        }
    }

    .tiptap-image-view__body {
        clear: both;
        display: inline-block;
        position: relative;
        max-width: 100%;
        outline-color: transparent;
        outline-style: solid;
        outline-width: 2px;
        .tiptap-image-element {
            display: block;
            float: none;
            cursor: pointer;
            margin: 0;
            max-width: 100%;
            min-height: 20px;
            min-width: 20px;
        }
        .image-view-resizer {
            border: 1px solid var(--theme-color);
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    }

    .resize-handle {
        position: absolute;
        right: -8px;
        bottom: -8px;
        width: 16px;
        height: 16px;
        background: #3b82f6;
        border-radius: 50%;
        cursor: nwse-resize;
        opacity: 0;
        transition: opacity 0.2s;
    }

    .customize-image:hover .resize-handle {
        opacity: 1;
    }

    .upload-status {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 4px;
    }

    /* 八个调整大小的控制点样式 */
    .resize-handle-btn {
        position: absolute;
        background: var(--theme-color);
        width: 12px;
        height: 12px;
        z-index: 5;
        font-size: 0;
        // border-radius: 50%;
        border: 1px solid #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s ease;
        &.tl {
            top: -5px;
            left: -5px;
            cursor: nw-resize;
        }
        &.tr {
            top: -5px;
            right: -5px;
            cursor: ne-resize;
        }
        &.br {
            bottom: -5px;
            right: -5px;
            cursor: se-resize;
        }
        &.bl {
            bottom: -5px;
            left: -5px;
            cursor: sw-resize;
        }
    }
    .resize-handle-btn:hover {
        transform: scale(1.2);
        background: var(--theme-color);
    }
}
